@font-face {
  font-family: "jua";
  src: url("../font/Jua-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

#join {
  display: inline-flex;
  background-color: rgb(187, 185, 185);
  padding: 20px;
  border-radius: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(38, 47, 54);
}

#join-modal {
  display: none;
  position: fixed;
  border: 1px solid black;
  width: 375px;
  background-color: #fff;
  border-radius: 30px;
  height: 400px;
  margin: auto;
  top: 20%;
  left: 35%;
  text-align: center;
  font-size: 30px;
  padding: 3%;
}

#join-modal h3 {
  display: inline-flex;
  margin-bottom: 60px;
  color: rgb(2, 37, 27);
  padding: 15px;
  font-family: "jua";
  font-size: 50px;
}

#join-modal input[type="text"] {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  display: block;
  border: 0;
  border-bottom: 1px solid var(--gray-border);
  color: #777;
  margin-bottom: 30px;
  font-family: "jua";
}

#join-modal input[type="submit"] {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  display: block;
  border: 0;
  border-bottom: 1px solid var(--gray-border);
  color: rgb(49, 16, 236);
  margin-top: 70px;
  font-family: "jua";
}

#login {
  display: inline-flex;
  background-color: rgb(177, 223, 241);
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 70%;
  color: blue;
}

#logout {
  display: inline-flex;
  background-color: rgb(224, 79, 75);
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 70%;
  color: blue;
}

#login-modal {
  display: none;
  position: fixed;
  border: 1px solid black;
  width: 375px;
  background-color: rgb(177, 223, 231);
  border-radius: 30px;
  height: 400px;
  margin: auto;
  top: 20%;
  left: 35%;
  text-align: center;
  font-size: 30px;
  padding: 3%;
}

#login-modal h3 {
  display: inline-flex;
  margin-bottom: 60px;
  color: rgb(2, 37, 27);
  padding: 15px;
  font-family: "jua";
  font-size: 50px;
}

#login-modal input[type="text"] {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  display: block;
  border: 0;
  border-bottom: 1px solid var(--gray-border);
  color: #777;
  margin-bottom: 30px;
  font-family: "jua";
}

#login-modal input[type="submit"] {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  display: block;
  border: 0;
  border-bottom: 1px solid var(--gray-border);
  color: rgb(49, 16, 236);
  margin-top: 70px;
  font-family: "jua";
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  width: 80%;
  background-color: rgb(245, 253, 129);
  align-items: center;
  font-family: "jua";
}

.ranking {
  font-size: 40px;
  font-family: "jua";
}

header h1 {
  font-size: 100px;
  margin-left: 210px;
  font-family: "jua";
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
  font-size: 30px;
}

.country {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font-size: 50px;
  background-color: rgb(166, 247, 62);
}

.country select {
  margin: 10px;
  width: 300px;
  height: 70px;
  /* border-radius: 400px; */
  font-size: 30px;
  text-align: center;
}

.countrytitle {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.country ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.country li {
  margin: 15px;
}
.flags {
  padding: 60px;
}

.flags img {
  padding: 10px;
}

.country li img:hover {
  border: 2px solid yellow;
}

.map {
  display: block;
}

.map a {
  display: block;
}

.map img {
  display: block;
  margin: 0 auto;
  width: 70%;
}

.modal {
  display: none;
  position: fixed;
  border: 1px solid black;
  width: 800px;
  height: 750px;
  margin: auto;
  top: 20%;
  left: 35%;
  background-color: rgb(192, 241, 225);
  border-radius: 5%;
  text-align: center;
  font-size: 40px;
}

.modal img {
  display: block;
  width: 300px;
  height: 230px;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 5%;
}

.modal input[type="text"] {
  margin-top: 5%;
  width: 80%;
  height: 100px;
  font-size: 30px;
  border-radius: 400px;
  text-align: center;
}

.modal input[type="submit"] {
  margin-top: 4%;
  width: 25%;
  height: 70px;
  font-size: 30px;
  border-radius: 400px;
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
}

.modal input[type="submit"]:hover {
  /* color:blue; */
  background-color: blue;
}

.logout-box {
  display: none;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  font-family: jua;
  font-size: 30px;
  padding: 10px;
}

.after-answer {
  display: none;
  position: fixed;
  width: 45%;
  height: 60%;
  top: 20%;
  left: 27.5%;
}
